@keyframes play {
	100%{
		background-position: -737px -2px;
	}
}
@-webkit-keyframes play {
	100%{
		background-position: -737px -2px;
	}
}
.sprite {
	width:145px;
	height:300px;
	display:inline-block;
	overflow:hidden;
	background-repeat: no-repeat;
	background-image:url(../images/234.png);
	background-position: -2px -2px;
	animation: play 0.8s steps(5) infinite;
	-webkit-animation: play 0.8s steps(5) infinite;
}
.preload {
	background-position: 9999px 9999px;
	width: 1px;
	height: 1px;
	display: none;
}

body {
	background: url(../images/bg.jpg) no-repeat #E8DFD0;
	background-size: cover;
}
html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}
.do {
	background: url(../images/button.png) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 15%;
	margin: 0 auto;
	position: fixed;
	bottom: 20%;
	text-align: center;
	color: #666;
	line-height: 180px;
	cursor: pointer;
}

.cover {
	background: url(../images/share.png) top right no-repeat;
	background-size: 50%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.decode .inner {
	width: 100%;
	height: 100%;
	background: url(../images/decode.png) center no-repeat;
	background-size: 80%;
}

.item {
	width: 100%;
	text-align: center;
	padding-top: 20%;
}