@charset "utf-8";

@import url("base.css");

body {
    /*transform: translate3d(0,0,0);*/
    /*-webkit-transform: translate3d(0,0,0);*/
    overflow: hidden;
}

.stage {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow:hidden;
    -webkit-transform-origin: left top;
    transform-origin:left top;

}

.enable3D {
    -webkit-perspective: 600;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 50% 50%;
}

.camera {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: visible;
}

.ele {
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/loading_bg2.jpg');
    z-index: 999;
    display: none;
}



.loading .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 173px;
    height: 90px;
    margin-left: -86.5px;
    margin-top: -45px;
    background-image: url('../assets/loading.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: visible;
}

.loading .txt {
    position: absolute;
    left: 50%;
    bottom: -30%;
    width: 201px;
    height: 15px;
    margin-left: -100px;
    margin-top: -7px;
    background-image: url('../assets/loadtxt.png');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: visible;
    display: none;
}

#aoaoEle62, #aoaoEle28, #aoaoEle64, #aoaoEle86, #aoaoEle107, #aoaoEle114, #aoaoEle117 {
    background-repeat: repeat;
}

#aoaoEle28, #aoaoEle41, #aoaoEle42, #aoaoEle43, #aoaoEle44, #aoaoEle45, #aoaoEle46, #aoaoEle47, #aoaoEle48, #aoaoEle49, #aoaoEle50, #aoaoEle51, #aoaoEle52, #aoaoEle53, #aoaoEle54, #aoaoEle55, #aoaoEle56, #aoaoEle57, #aoaoEle58, #aoaoEle59{
    -webkit-transform: rotate(-27.7deg);
    transform: rotate(-27.7deg);
    z-index: 20;
}

#aoaoEle28 {
    background-size: auto;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    width: 0px;
}
#aoaoEle28:after{
    content: '';
    position: absolute;
    right: -90px;
    top: -24px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 92.5px;
    height: 84px;
    background-image: url('../assets/scene03/cap_arrow.png');
    display: none;
}
#aoaoEle28:before{
    content: '';
    position: absolute;
    right: 9px;
    top: 8px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 103px;
    height: 18px;
    background-image: url('../assets/scene02/txt_04.png');
    /*display: none;*/
}

#aoaoEle28.withArrow:after{
    display: block;
}
#aoaoEle37 {
    display: none;
}
#aoaoEle64 {
    background-size:50px;
}
#aoaoEle86 {
    background-size:50px;
}
#aoaoEle107 {
    background-size:250px;

}
#aoaoEle114 {
    background-size:50px;

}
#aoaoEle117 {
    background-size:154.5px;
}


.sky {
    background-image: url('../assets/scene01/bg.jpg');
    width: 504px;
    height: 320px;
    background-repeat: repeat;
}
#unique2 {
    left: 1700px;
    top: -200px;
    height: 640px;

}
.ground {
    background-image: url('../assets/scene01/ground.jpg');
    width: 504px;
    height: 69px;
    top: 251px;
    left: 504px;
    background-repeat: repeat;
    z-index: 10;
}


.balloon {
    background-image: url('../assets/scene04/ballon.png');
    left: 2802px;
    top: -301px;
    width: 158px;
    height: 210px;
    z-index: 20;
}

#unique4 {
    left: 2483px;
    top: -262px;
    width: 108px;
}

#unique5 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

#unique6 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

#unique7 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

#unique8 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

#unique9 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

#unique10 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

#unique11 {
    left: 2483px;
    top: -262px;
    width: 158px;
}

/*<div class="ele" id="aoaoEle71" style="left: 2871px; top: -286px; width: 342.5px; height: 200px; background-image: url(http://mydev.com/jd/assets/scene04/phone.png);"></div>*/

.phone {
    background-image: url('../assets/scene04/phone.png');
    left: 4311px;
    top: -225px;
    width: 342.5px;
    height: 200px;
    z-index: 20;
}

#unique12 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#aoaoEle23 {
    background-size: 229px;
}

#aoaoEle42 {
    background-size: 486px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#aoaoEle87 {
    background-size: 209px;
    background-position: 100% 50%;
}

#aoaoEle-11 {
    background-repeat: repeat;
    background-size: 689px;
    background-position: -93px -43px;
}

#aoaoEle83 {
    margin-left:-4px;
}