@charset "utf-8";

@import "base.css";

body,html{
    height: 100%;
}
.lexus_nx_index{
    background: #000;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    font-size: 14px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.nx_index{
    display: none;
    width: 320px;
    height: 504px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center 0%;
    transform-origin: center 0%;
    overflow: hidden;
}
.nx_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 320px;
}
.index_bg .logo{
    width: 110px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -55px;
    background: url("../assets/new/logo.png") no-repeat;
    background-size: 100%;
}
.nx_index [class*="arr_"]{
    position: absolute;
    display: block;
    width: 50%;
    height: 95%;
    top: 0;
    z-index: 99;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.nx_index .arr_left{
    left: 0;
    opacity: 0;
    background-image: url("../assets/new/arrow_l.png");
}
.nx_index .arr_right{
    right: 0;
    opacity: 0;
    background-image: url("../assets/new/arrow_r.png");
    background-position: 135px center;

}
.nx_index .slide_area {
    position: absolute;
    display: block;
    width: 80%;
    height: 100%;
    top: 0;
    left: 10%;
    z-index: 100;
    /*background: rgba(255,0,0,0.5);*/
    display: none;
}
.far_bg{
    display: block;
    opacity: 0;
    background-image: url("../assets/new/index_farbg2.jpg");
}
.index_bg{
    display: none;
    opacity: 0;
    background-image: url("../assets/new/index_bg.jpg");
}
.blur_bg{
    display: none;
    opacity: 0;
    background-image: url("../assets/new/index_blurbg.jpg");
}

.nav_wrap {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -120px;
    -webkit-transform: scale(1);
    -webkit-transform-origin: center top;

}

.silde_nav{
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background: rgba(0,0,0,.8);
    z-index: 999;
    padding: 180px 10px 0px;
}

.silde_nav .main_title{
    width: 200px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: url("../assets/new/title_img.png") no-repeat;
    background-size: 100%;
    /*-webkit-transform: scale(0.8);*/
    /*-webkit-transform-origin: center top;*/
}
.silde_nav .light{
    width: 101px;
    height: 31px;
    position: absolute;
    top: 117px;
    left: 0px;
    background: url("../assets/new/light.png") no-repeat;
    background-size: 100%;
    mix-blend-mode: screen;
}
.nav_left {
    left: -240px;
}
.nav_left .sub_title{
    width: 140px;
    height: 18px;
    position: absolute;
    top: 143px;
    left: 50px;
    background: url("../assets/new/subtitle_1.png") no-repeat;
    background-size: 100%;
}
.nav_right {
    right: -240px;
}
.nav_right .sub_title{
    width: 150px;
    height: 18px;
    position: absolute;
    top: 143px;
    left: 45px;
    background: url("../assets/new/subtitle_2.png") no-repeat;
    background-size: 100%;
}
.nav_box{
    width: 100%;
    height: 110%;
    overflow: hidden;
    position: relative;
    top: -30px;
}
.nav_box .nav_list{
    position: relative;
    margin: 36px 0 36px 23px;
    background: url("../assets/new/line.png") repeat-y top left;
    background-size: 1px;
    font-size: 15px;
}
.nav_box .nav_list:before{
    display: block;
    content: "";
    position: absolute;
    width: 3px;
    height: 36px;
    background: url("../assets/new/line_top.png") no-repeat left bottom;
    background-size: 1px;
    left: 0;
    top: -36px;
}
.nav_box .nav_list:after{
    display: block;
    content: "";
    position: absolute;
    width: 3px;
    height: 36px;
    background: url("../assets/new/line_btm.png") no-repeat left top;
    background-size: 1px;
    left: 0;
    bottom: -36px;
}
.nav_box .nav_list li{
    padding: 3px 0 3px 20px;
    position: relative;
    background:url("../assets/new/line_shadow.png") repeat-y left top;
    background-size: 1px;
    line-height: 16px;

}

.nav_box .nav_list li a{
    color: #888;
    display: block;
    -webkit-transform-origin: left 50%;
    /*-webkit-transition:color 1s ;*/
}
.nav_box .nav_list li.active a {
    text-shadow: 0 0 5px rgba(255,255,255,0.9),0 0 5px rgba(255,255,255,0.9);
}

.nav_box .nav_list li .list_arr{
    position: absolute;
    width: 12px;
    height: 16px;
    left: -4px;
    top: 50%;
    margin-top: -8px;
    background: url("../assets/new/triangle2.png") no-repeat;
    background-size: 100%;
    /*-webkit-transition:background-image 1s ;*/

}
.nav_box .nav_list li.cur a{
    color: #fff;
    /*font-size: 16px;*/
    /*font-weight: 700;*/
}
.nav_box .nav_list li.cur .list_arr{
    background-image: url("../assets/new/triangle_light2.png");
}
.nav_box .nav_list li .light_on{
    background-image: url("../assets/new/triangle_light2.png");
    left: 0px;
    opacity: 0;
}
.nav_left .nav_list li{
    margin: 8px 0;
}
.nav_right .nav_list li{
    margin: 18px 0;
}
.nav_left .nav_box {
    top: -35px;
}


.tip_rotate_screen{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18em;
    margin: -7em 0 0 -9em;
    padding:  1rem .5rem;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-radius: .5rem;
    z-index: 299999;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 1.7;
}
.tip_rotate_screen p{
    padding-top: .5em;
    line-height: 1.7;
}
.tip_rotate_screen .icon_rotate{
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url("../assets/rotate_to_portrait.png") no-repeat ;
    background-size: 100%;
    -webkit-transform-origin: 70% 70%;
}

.video_layer {
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.85);
    z-index: 9999;
    display: none;
}
.video_layer video {
    width: 100%;
    height: 100%;
}
.video_layer .close_btn {
    width: 30%;
    height: 30%;
    font-size: 30px;
    line-height: 30px;
    position:absolute;
    right: 10px;
    top: 10px;
    color: white;
    z-index: 10000;
}