@charset "utf-8";

@import url("base.css");

.spinners {
    font-family:Nobel,  LEXUS-HeiS-Light-U;
}
.spinners p ul li{
    line-height: 2em;
}

.viewport {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    -webkit-perspective: 600;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 50% 50%;
    overflow:hidden;
}

.cardWrap {
    -webkit-transform-style: preserve-3d;
    position: absolute;
    width:0px;
    height:0px;
    transform:translateZ(-24000px);
}

.card {
    width:2px;
    height:4px;
    margin-left: -1px;
    margin-top: -2px;
    /*background: yellow;*/
    -webkit-transform-style: preserve-3d;
}

.stage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    display: none;
}

.part1 {

}
.part1 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 5px rgba(3,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.3rem;
}

.part1 .txt_01{
    left: 0;
    top: 45%;
}

.part1 .txt_02{
    left: 0;
    bottom: 8%;
    font-size: 0.875rem;
}

.part1 .flash_light {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0);
    opacity: 1;
    display: none;
}

.part1 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;
}

.part1 .car {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image:url('../assets/demo2/part1/bg.jpg');
    background-size: 100%;
    display: none;
}

.part1 .pieces {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.part1 .piece {
    position: absolute;
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-size: 100%;
}

.part1 .piece_01{
    background-image: url('../assets/demo2/part1/p1.png');
    width: 143px;
    height: 103px;
}

.part1 .piece_02{
    background-image: url('../assets/demo2/part1/p2.png');
    width: 188px;
    height: 113px;
}

.part1 .piece_03{
    background-image: url('../assets/demo2/part1/p3.png');
    width: 100px;
    height: 111px;
}

.part1 .piece_04{
    background-image: url('../assets/demo2/part1/p4.png');
    width: 46px;
    height: 115px;
}

.part1 .piece_05{
    background-image: url('../assets/demo2/part1/p5.png');
    width: 47px;
    height: 187px;
}

.part1 .piece_06{
    background-image: url('../assets/demo2/part1/p6.png');
    width: 211px;
    height: 248px;
}

.part1 .piece_07{
    background-image: url('../assets/demo2/part1/p7.png');
    width: 188px;
    height: 258px;
}

.part1 .piece_08{
    background-image: url('../assets/demo2/part1/p8.png');
    width: 105px;
    height: 294px;
}

.part1 .piece_09{
    background-image: url('../assets/demo2/part1/p9.png');
    width: 102px;
    height: 155px;
}

.part1 .piece_10{
    background-image: url('../assets/demo2/part1/p10.png');
    width: 102px;
    height: 82px;
}

.part1 .piece_11{
    background-image: url('../assets/demo2/part1/p11.png');
    width: 125px;
    height: 62px;
}

.part1 .piece_12{
    background-image: url('../assets/demo2/part1/p12.png');
    width: 157px;
    height: 94px;
}

.part1 .piece_13{
    background-image: url('../assets/demo2/part1/p13.png');
    width: 157px;
    height: 120px;
}

.part1 .piece_14{
    background-image: url('../assets/demo2/part1/p14.png');
    width: 100px;
    height: 146px;
}

.part1 .piece_15{
    background-image: url('../assets/demo2/part1/p15.png');
    width: 218px;
    height: 157px;
}

.part1 .piece_16{
    background-image: url('../assets/demo2/part1/p16.png');
    width: 163px;
    height: 206px;
}

.part1 .piece_17{
    background-image: url('../assets/demo2/part1/p17.png');
    width: 164px;
    height: 73px;
}

.part1 .piece_18{
    background-image: url('../assets/demo2/part1/p18.png');
    width: 269px;
    height: 43px;
}

.part1 .piece_19{
    background-image: url('../assets/demo2/part1/p19.png');
    width: 320px;
    height: 63px;
}
.part1 .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 406px;
    margin-left: -27px;
    margin-top: -40.6px;
    -webkit-transform-origin: 50% 10%;
    background-image: url('../assets/demo2/part1/line.png');
    background-size: 100%;
    pointer-events:none;
    mix-blend-mode: screen;
}

.part2 {

}

.part2 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;

}

.part2 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 5px rgba(3,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.4rem;
}

.part2 .txt_01 {
    top: 12%;
    left: 0;
    font-size: 0.875rem;
    letter-spacing: 0rem;
}
.part2 .txt_02 {
    top: 22%;
    left: 0;
    font-size: 1rem;
}
.part2 .txt_03 {
    top: 22%;
    left: 0;
    font-size: 1rem;
}
.part2 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part2/bg.jpg');
    background-size: 100%;
}
.part2 .bg2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part2/bg2.jpg');
    background-size: 100%;
    display: none;
}
.part2 .bg3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part2/bg3.jpg');
    background-size: 100%;
}
.part2 .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
}

.part2 .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,255));
}

.part3 {

}

.part3 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;
}

.part3 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 10px rgba(5,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.3rem;
}

.part3 .txt_01 {
    bottom: 10%;
    left: 0%;
    font-size: 0.875rem;
    line-height: 1.4rem;
}
.part3 .txt_02 {
    bottom: 10%;
    left: 0%;
}
.part3 .txt_03 {
    bottom: 10%;
    left: 0%;
    line-height: 1.4rem;
}
.part3 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part3/bg.jpg');
    background-size: 100%;
}
.part3 .bg3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part3/bg3.jpg');
    background-size: 100%;
}
.part3 .bg4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part3/bg4.jpg');
    background-size: 100%;
}
.part3 .bg5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 387px;
    height: 617px;
    background-image: url('../assets/demo2/part3/bg5.jpg');
    background-size: 100%;
}
.part3 .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
}

.part4 {
    -webkit-perspective: 200;
    -webkit-transform-style: preserve-3d;
}

.part4 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;

}

.part4 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 5px rgba(3,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.3rem;
}

.part4 .txt_01 {
    top: 15%;
    left: 0%;
    font-size: 0.875rem;
    line-height: 1.4rem;
}
.part4 .txt_02 {
    bottom: 10%;
    left: 0%;
    font-size: 0.875rem;
    white-space:nowrap;

}
.part4 .txt_03 {
    top: 11%;
    left: 0%;
    line-height: 1.4rem;
    font-size: 0.875rem;
}
.part4 .txt_04 {
    top: 21.5%;
    left: 0%;
    line-height: 1.4rem;
    text-indent: 2em;
}
.part4 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part4/bg.jpg');
    background-size: 100%;

}
.part4 .bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 720px;
    background-image: url('../assets/demo2/part4/bg2.jpg');
    background-size: 100%;
}
.part4 .bg3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part4/bg3.jpg');
    background-size: 100%;
}
.part4 .tip {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3.2rem;
    height: 5rem;
    margin:-2.5rem 0 0 -1.6rem;
    background-image: url('../assets/demo2/part4/tip.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.part4 .p1 {
    position: absolute;
    right: 0%;
    top: 64%;
    width: 138px;
    height: 134px;
    background-image: url('../assets/demo2/part4/p1_1.png');
    background-size: 100%;
    pointer-events: none;
}
.part4 .p2 {
    position: absolute;
    right: 5%;
    top: 40.5%;
    width: 134px;
    height: 180px;
    background-image: url('../assets/demo2/part4/p1_2.png');
    background-size: 100%;
    pointer-events: none;
}
.part4 .p3 {
    position: absolute;
    right: 7%;
    top: 56.5%;
    width: 135px;
    height: 88px;
    background-image: url('../assets/demo2/part4/p1_3.png');
    background-size: 100%;
    pointer-events: none;
    -webkit-transform-origin: 77.8% 29.2%
}

.part5 {

}

.part5 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;
}

.part5 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 5px rgba(3,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.3rem;
}

.part5 .txt_01 {
    top: 6%;
    left: 50%;
    width: 3rem;
    margin-left: -1.5rem;
    font-size: 0.875rem;
    line-height: 1.4rem;
    -webkit-writing-mode: vertical-rl;
    text-align: left;
    letter-spacing: 0.1rem;

}
.part5 .txt_01_2 {
    top: 6%;
    left: 50%;
    width: 3rem;
    margin-left: -3rem;
    font-size: 0.875rem;
    line-height: 1.4rem;
    -webkit-writing-mode: vertical-rl;
    text-align: left;
    letter-spacing: 0.1rem;

}
.part5 .txt_02 {
    top: 16%;
    left: 50%;
    font-size: 1rem;
    width: 1rem;
    margin-left: -0.5rem;
    -webkit-writing-mode: vertical-rl;
}
.part5 .txt_03 {
    top: 8%;
    left: 50%;
    width: 3rem;
    margin-left: -1.5rem;
    font-size: 0.875rem;
    line-height: 1.4rem;
    -webkit-writing-mode: vertical-rl;
    text-align: left;
    letter-spacing: 0.3rem;
}
.part5 .txt_03_2 {
    top: 8%;
    left: 50%;
    width: 3rem;
    margin-left: -3rem;
    font-size: 0.875rem;
    line-height: 1.4rem;
    -webkit-writing-mode: vertical-rl;
    text-align: left;
    letter-spacing: 0.3rem;
}
.part5 .android {
    /*margin-left: -1.5rem;*/
    /*width: 1.8em;*/
    /*word-break: break-all;*/
}
.part5 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part5/bg.jpg');
    background-size: 100%;
}
.part5 .bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 699px;
    background-image: url('../assets/demo2/part5/bg2.jpg');
    background-size: 100%;
}
.part5 .line2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 24px;
    margin-left: -5px;
    margin-top: -12px;
    background-image: url('../assets/demo2/part5/line2.png');
    background-size: 100%;
    -webkit-transform-origin: 50% 25%;
}

.part5 .line3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 24px;
    margin-left: -5px;
    margin-top: -12px;
    background-image: url('../assets/demo2/part5/line3.png');
    background-size: 100%;
    -webkit-transform-origin: 50% 25%;
}

.part5 .line4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 24px;
    margin-left: -5px;
    margin-top: -12px;
    background-image: url('../assets/demo2/part5/line4.png');
    background-size: 100%;
    -webkit-transform-origin: 50% 25%;
}

.part5 .line5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 24px;
    margin-left: -5px;
    margin-top: -12px;
    background-image: url('../assets/demo2/part5/line5.png');
    background-size: 100%;
    -webkit-transform-origin: 50% 25%;
}

.part6 {

}

.part6 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;
}

.part6 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 5px rgba(3,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.3rem;
}

.part6 .txt_01 {
    top: 15%;
    left: 0%;
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.part6 .txt_02 {
    top: 24%;
    left: 0%;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.part6 .txt_03 {
    top: 78%;
    left: 16%;
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: left;
    letter-spacing: 0.1rem;
    width: 18rem;
    text-shadow: none;
}
.part6 .txt_04 {
    top: 24%;
    left: 31%;
    font-size: 3.2rem;
    line-height: 1.4rem;
    text-align: left;
    letter-spacing: 0.1rem;
    font-family: Nobel;
    text-shadow: none;
}
.part6 .txt_04 sub {
    font-size:0.75rem;
    position:relative;
    top:-0.65rem;
    text-shadow: none;
}
.part6 .txt_05 {
    top: 31%;
    left: 33%;
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: left;
    letter-spacing: 0.1rem;
    text-shadow: none;
}
.part6 .txt_06 {
    top: 50%;
    left: 27%;
    font-size: 3.2rem;
    line-height: 1.4rem;
    text-align: left;
    letter-spacing: 0.1rem;
    font-family: Nobel;
    text-shadow: none;
}
.part6 .txt_06 sub {
    font-size:0.75rem;
    position:relative;
    top:-0.65rem;
    text-shadow: none;
}
.part6 .txt_07 {
    top: 58%;
    left: 28.5%;
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: left;
    letter-spacing: 0.1rem;
    text-shadow: none;
}
.part6 .txt_08 {
    top: 69%;
    left: 38%;
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: left;
    letter-spacing: 0.1rem;
    text-shadow: none;
}


.part6 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part6/bg.jpg');
    background-size: 100%;
}
.part6 .wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 1134px;
    height: 568px;
}
.part6 .bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1134px;
    height: 568px;
    background-image: url('../assets/demo2/part6/bg2.jpg');
    background-size: 100%;
}
.part6 .p1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.part6 .p1_1 {
    position: absolute;
    left: 221px;
    top: 136px;
    width: 375px;
    height: 380px;
    background-image: url('../assets/demo2/part6/p1_1.png');
    background-size: 100%;
}
.part6 .p1_2 {
    position: absolute;
    left: 180px;
    top: 58px;
    width: 210px;
    height: 222px;
    background-image: url('../assets/demo2/part6/p1_2.png');
    background-size: 100%;
    -webkit-transform-origin: 42% 55.63%;
}
.part6 .p1_3 {
    position: absolute;
    left: 178px;
    top: 92px;
    width: 178px;
    height: 90px;
    background-image: url('../assets/demo2/part6/p1_3.png');
    background-size: 100%;
    -webkit-transform-origin: 50% 100%;
}
.part6 .p2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.part6 .p2_1 {
    position: absolute;
    left: 289px;
    top: 291px;
    width: 418px;
    height: 166px;
    background-image: url('../assets/demo2/part6/p2.png');
    background-size: 100%;
}
.part6 .p3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.part6 .p3_1 {
    position: absolute;
    left: 435px;
    top: 432px;
    width: 182px;
    height: 124px;
    background-image: url('../assets/demo2/part6/p3.png');
    background-size: 100%;
}

.part7 {

}

.part7 .container {
    width: 320px;
    height: 568px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform-origin: 50% top;
}

.part7 .txt {
    position: absolute;
    width: 100%;
    text-shadow:0 0 5px rgba(3,9,175,1);
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    pointer-event: none;
    display: none;
    opacity: 0;
    line-height: 1.3rem;
}

.part7 .txt_01 {
    top: 15%;
    left: 0%;
    font-size: 0.875rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.part7 .txt_02 {
    bottom: 8%;
    left: 0%;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: 0.1rem;
}
.part7 .txt_03 {
    top: 68%;
    left: 0%;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    text-shadow: none;
}
/*.part7 .txt_03 span {*/
    /*font-size: 4rem;*/
/*}*/
.part7 .txt_04 {
    top: 74%;
    left: -26%;
    font-size: 1.5rem;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
    text-shadow: none;
}

.part7 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part7/bg.jpg');
    background-size: 100%;
}
.part7 .bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/demo2/part7/bg2.jpg');
    background-size: 100%;
}
.part7 .b {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 52px;
    height: 103px;
    margin-left: -26px;
    margin-top: -51px;
    background-image: url('../assets/demo2/part7/bag.png');
    background-size: 100%;
    -webkit-transform-origin: 60% 50%;
}
.part7 .b1 {
    position: absolute;
    left: 53px;
    top: 172px;
    width: 221px;
    height: 82px;
    background-image: url('../assets/demo2/part7/bag1.png');
    background-size: 100%;
}
.part7 .b2 {
    position: absolute;
    left: 33px;
    top: 179px;
    width: 193px;
    height: 79px;
    background-image: url('../assets/demo2/part7/bag2.png');
    background-size: 100%;
}
.part7 .b3 {
    position: absolute;
    left: 39px;
    top: 198px;
    width: 244px;
    height: 93px;
    background-image: url('../assets/demo2/part7/bag3.png');
    background-size: 100%;
}
.part7 .b4 {
    position: absolute;
    left: 53px;
    top: 146px;
    width: 236px;
    height: 72px;
    background-image: url('../assets/demo2/part7/bag4.png');
    background-size: 100%;
}

.circle_tip {
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    background-color: rgba(255,255,255,0.15);
    opacity: 0;
    z-index: 300;
    pointer-events: none;
}
.circle_tip:after {
    position: absolute;
    content: '';
    display: block;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    background-color: rgba(255,255,255,0.5);
    pointer-events: none;
}


@media all and (max-width: 2049px){
    html,body{
        font-size: 1.2em;
    }
}

@media all and (max-width: 541px){
    html,body{
        font-size: 1.6875em;
    }
}

@media all and (max-width: 425px){
    html,body{
        font-size: 1.325em;
    }
}

@media all and (max-width: 385px){
    html,body{
        font-size: 1.2em;
    }
}

@media all and (max-width: 361px){
    html,body{
        font-size: 1.125em;
    }
}

@media all and (max-width: 321px){
    html,body{
        font-size: 1em;
    }
}