@charset "utf-8";

@import "base.css";

body,html{
    height: 100%;
}
.lexus_nx_page{
    background: #000;
    font-family: Nobel, LEXUS-HeiS-Light-U;
    font-size: 14px;
}
.nx_page{
    width: 320px;
    position: relative;
    background-size: 100%;
    background-repeat: repeat-y;
    color: #F2F2F2;
    margin: 0 auto;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    display:none;

}

.nx_page_bg {
    background-image: url("../assets/new/article/bg_repeat.jpg");
}

.nx_page .page_top{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: url("../assets/new/article/bg_top.png") no-repeat;
    background-size: 100%;
}
.nx_page .page_btm{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 229px;
    background: url("../assets/new/article/bg_btm.png") no-repeat;
    background-size: 100%;
}
.page_content{
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 60px 35px 80px;
    box-sizing: border-box;
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    letter-spacing: 0.8px;
}
.page_content .title{
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    line-height: 1.5;
}
.page_content p{
    line-height: 32px;
    text-align: justify;
}
.page_content img{
    display: none;
    width: 250px;
    margin: 15px 0;
}
.page_content h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}
.page_style_2{
    letter-spacing: 0;
}
.page_style_2 p{
    line-height: 22px;
}
.page_style_2 h3{
    text-align: center;
}
.nx_index [class*="arr_"]{
}
.arr_left{
    position: absolute;
    display: block;
    width: 100%;
    height: 120px;
    bottom: 0;
    z-index: 99;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    opacity: 0;
    background-image: url("../assets/new/arrow_l.png");
    /*-webkit-animation:gogogo 1s infinite ease;*/

}
@-webkit-keyframes gogogo {
    0%{
        -webkit-transform: translateX(-3px);
    }
    40%{
        -webkit-transform: translateX(3px);
    }
    100%{
        -webkit-transform: translateX(-3px);
    }
}
