@charset "utf-8";
/* CSS Document */
ul{font-size:0;}
ul,ol,li{margin:0px; padding:0px; list-style:none; vertical-align:top; }
img{ border:none; padding:0; margin:0px;font-size:0;}
body,div,span,p,img,h1,h2,h3,h4,h5,h6,ul,ol,li,em,tr,td,input,label{margin:0px; padding:0px; border:0px;outline: medium none;  font-weight:normal;font-style:normal; font-style:normal; font-size:12px;} 
a{text-decoration:none;outline:none;} 
a:hover{ text-decoration:underline;}
.height2{ height:2px; clear:both;overflow:hidden;}
.height3{ height:3px; clear:both;}
.height5{ height:5px; clear:both;overflow:hidden;}
.height7{ height:7px; clear:both;overflow:hidden;}
.height10{ height:10px; clear:both;overflow:hidden;}
.height15{ height:15px; clear:both;overflow:hidden;}
.height20{ height:20px; clear:both;overflow:hidden;}
.height25{ height:25px; clear:both;overflow:hidden;}
.height27{ height:27px; clear:both;overflow:hidden;}
.height28{ height:28px; clear:both;overflow:hidden;}
.height30{ height:30px; clear:both;overflow:hidden;}
.height35{ height:35px; clear:both;overflow:hidden;}
.height37{ height:37px; clear:both;overflow:hidden;}
.height40{ height:40px; clear:both;overflow:hidden;}
.height45{ height:45px; clear:both;overflow:hidden;}
.height48{ height:48px; clear:both;overflow:hidden;}
.height50{ height:50px; clear:both;overflow:hidden;}
.height55{ height:55px; clear:both;overflow:hidden;}
.height60{ height:60px; clear:both;overflow:hidden;}
.height70{ height:70px; clear:both;overflow:hidden;}
.height80{ height:80px; clear:both;overflow:hidden;}
.height90{ height:90px; clear:both;overflow:hidden;}
.height110{ height:110px; clear:both;overflow:hidden;}
.height120{ height:120px; clear:both;overflow:hidden;}
.height125{ height:125px; clear:both;overflow:hidden;}
.height130{ height:130px; clear:both;overflow:hidden;}