body
{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    overflow: hidden;
    background:#000000;
    background-size: 100% 100%;
}

html
{
    -ms-touch-action: none;
    overflow: hidden;
}

div, canvas
{
    display:block;
    position:absolute;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
