img {width: 100%;border: none;display: block}
a {text-decoration: none;color: inherit}

*.zero{width: 0;height: 0}

.left {float: left}
.right {float:right}
.clear {width: 0px;height: 0px;font-size: 0px;clear:both}

.text_left{text-align: left}
.text_center{text-align: center}
.text_right{text-align: right}

.pointer {cursor: pointer}
.disabled {pointer-events:none}
.hidden {display:none}

h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
    display: block;
    font-weight: normal;
}

p{margin: 0;padding: 0}
input{border: none;padding: 0;margin: 0;outline: none;display: block;border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px}
input[type=text],input[type=password]{border: none;background: #FFFFFF;padding:5px;margin: 0;outline: none;background: #FFFFFF;font-size: 12px;color: #77787b;box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type=button],input[type=submit]
{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius:0;
    -moz-border-radius: 0;
}

*.data{display: none}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background:#bebebc url('../images/main_bg.jpg') no-repeat center top;
    background-size: cover;

    overflow: hidden;
    color: #FFFFFF;
    font-family: 'SimSun','宋体',Arial,Verdana,Helvetica,sans-serif;
}