#SketchPad
{
	border-color: black;
	border-width: 3px;
	border-style: solid;
}

#DownloadPng, #Upload
{

	padding: 14px 26px;
	font-size: 1em;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.5);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	font-family: Helvetica, sans-serif;
	background-color: #2ecc71;
	box-shadow: 0px 7px 0px 0px #27ae60;
	text-decoration:none;
	margin-top: 15px;
	margin-bottom: 15px; 
}

#DownloadPng:hover
{
	background-color: #27ae60;
}
#DownloadPng:active
{
	box-shadow: 0px 1px 0px 0px #27ae60;
}