body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.swiper-container {
  width: 100%;
  color: #fff;
  text-align: center;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  top: 10px;
}
.swiper-pagination-switch {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 0px 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
img{
  width: 100%
}
.white{
  font-size: 17px;
  text-align: center;
  width: 100%;
  font-weight:800;  
  -webkit-margin-before: 0;
  -webkit-margin-after: 6px;
}
.storyDesc .white{
  font-size: 15px;
  text-align: left;
  color: #aaa;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.orange{
  font-size: 17px;
  text-align: center;
  width: 100%;
  color: #ff8903;
  font-weight:800;
  -webkit-margin-before: 0;
  -webkit-margin-after: 6px;
}
.gray{
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #777;
  font-weight:600;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 5px;
}
.desc{
  font-size: 15px;
  width: 100%;
  font-weight:800;
  text-align: left;
  color: #cccccc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.logo{
  opacity: 0;
  top: 7%;
  width: 36%;
  left: 32%;
  position: absolute;
}
.slide-move .logo{
  opacity: 1;
  -webkit-transition:all 1s ease-in;
}
.loading{
  position: fixed;
  background-position: center;
  background-size: cover;
  background-color: black;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: block;
}
.loading p{
  font-size: 14px;
  top: 50%;
  width: 100%;
  color: orange;
  position: absolute;
  text-align: center;
}
.one-slide-1{
  opacity: 0;
  top: 60%;
  width: 70%;
  left: 15%;
  position: absolute;
}
.slide-move .one-slide-1{
  opacity: 1;
  -webkit-transition:all 1s ease-in ;
}
.two-slide-1{
  opacity: 0;
  margin-top: 67%;
  margin-left: 10%;
  width: 53%;
}
.slide-move .two-slide-1{
  opacity: 1;
  -webkit-transition:all 0.5s ease-in;
}
.two-slide-2{
  opacity: 0;
  margin-top: 0;
  width: 80%;
  margin-left: 10%
}
.slide-move .two-slide-2{
  opacity: 1;
  -webkit-transition:all 0.5s ease-in 0.6s;
}
.five-slide-1{
  opacity: 0;
  top: 48%;
  position: absolute;
  width: 100%;
}
.slide-move .five-slide-1{
  opacity: 1;
  -webkit-transition:all 1.5s linear ;
}
.six-slide-1{
  opacity: 0;
  top: 48%;
  position: absolute;
  width: 100%;
}
.slide-move .six-slide-1{
  opacity: 1;
  -webkit-transition:all 1.5s linear ;
}
.seven-slide-1{
  opacity: 0;
  top: 55%;
  width: 56%;
  left: 22%;
  position: absolute;
}
.slide-move .seven-slide-1{
  opacity: 1;
  -webkit-transition:all 1s ease-in ;
}
.twelve-slide-1{
  opacity: 0;
  top: 42%;
  width: 100%;
  position: absolute;
}
.slide-move .twelve-slide-1{
  opacity: 1;
  -webkit-transition:all 0.5s ease-in ;
}
.twelve-slide-2{
  opacity: 0;
  top: 66%;
  width: 10%;
  left: 45%;
  position: absolute;
}
.slide-move .twelve-slide-2{
  opacity: 1;
  width: 24%;
  left: 38%;
  -webkit-transition:width 0.5s ease-in 0.8s,left 0.5s ease-in 0.8s,opacity 0.01s ease-in 0.8s;
}
@-webkit-keyframes passdown
{
  0%   {bottom:5%;}
  50%  {bottom:3.2%;}
  100% {bottom:5%;}
}
.pub-passdown{
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: 4%;
  -webkit-animation-name: passdown;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
}
.button{
  opacity: 1;
  top: 78%;
  width: 60%;
  left: 20%;
  position: absolute;
}
.share{
  position: fixed;
  background-position: center;
  background-size: cover;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}
.storyPic{
  margin-top:10%;
  margin-left: 34%;
  width: 32%;
}
.storyDesc{
  margin-left: 10%;
  width: 80%;
}
.xBtn{
  width: 30px;
  right: 20px;
  top: 20px;  
  position: absolute;
}
.story{
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: black;
  z-index:999; 
  bottom: 0;
  -webkit-transition:height 0.5s ease; 
}
@-webkit-keyframes storyShow
{
  0%   {width:100%;height: 0%;}
  100% {width:100%;height: 100%;}
}
.storyShow{
  height: 100%;
  -webkit-animation-name: storyShow;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
  .two-slide-1{
    margin-top: 55%;
  }
  .storyDesc .white{
    font-size: 14px;
    text-align: left;
    color: #aaa;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  .white{
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight:800;  
    -webkit-margin-before: 0;
    -webkit-margin-after: 3px;
  }
  .storyDesc .white{
    font-size: 14px;
    text-align: left;
    color: #aaa;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
  .orange{
    font-size: 16px;
    text-align: center;
    width: 100%;
    color: #ff8903;
    font-weight:800;
    -webkit-margin-before: 0;
    -webkit-margin-after: 3px;
  }
}